{% extends "socialaccount/base.html" %}
{% load url from future %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{% if is_already_user %}
	
	<h1>Looks like you're already a member?</h1>
	<p>The email address {{provider_name}} supplied us with, is already being used by an existing account.</p>
	<p>Please close this window and sign in, at which point you can then connect your {{provider_name}} account.</p>

{% else %}
    <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans with site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. Unfortunately they don't supply us with an email address, which we require to complete sign up, so as a final step, please complete the following form:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endif %}


{% endblock %}
