
{% load i18n %}
{% load account %}
{% load url from future %}


<h1>{% trans "Password Reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

<form class="password_reset"
	  name="{{ form.form_name }}"
	  novalidate>
    {{ form.as_div }}
    <button class="btn btn-primary" 
			ng-click='pResetCtrl.submit({{ form.scope_prefix }}, {{ form.form_name }})'
			ng-disabled="{{ form.form_name }}.$invalid">{% trans "Reset My Password" %}</button>
			
	<a ui-sref="app.login" class="btn btn-link btn-xs">{% trans "Remembered?" %}</a>
</form>
