
/* ===== STICKY FOOTER ==== */

html,
body {
	height: 100%;
	-webkit-text-size-adjust: none;		/* from cssgrid.net */ /* Stops the iPhone scaling type up - from cssgrid.net */
}

#wrapper {
    min-height: 100%;
    padding-top: 50px;
}

#main {
	overflow: auto;
  	padding-bottom: 31px;/* must be same height as the footer */
}

header+div {
	padding-top: 50px;
}

footer {
    position: relative;
	margin-top: -31px; /* negative value of footer height */
	height: 30px;
	clear: both;
	background-color: #DDD;
	border-top: 1px solid #CCC;
}

/* ====================================== */

/* remove dotted line on firefox */

a:focus {
	outline: 0;
}

/* ============ FORMS =============== */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

form .ng-invalid-bound.ng-pristine, form .ng-invalid.ng-dirty {
	border-color: #e9322d;
}
form .ng-invalid-bound.ng-pristine:focus, form .ng-invalid.ng-dirty:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

ul.djng-form-errors, ul.djng-field-errors {
	display: inline-block;
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
}
ul.djng-form-errors li, ul.djng-field-errors li {
	color: #e9322d;
}
ul.djng-field-errors li.invalid:before {
	content: "\2716";
	margin-right: 10px;
}
ul.djng-field-errors li.valid:before {
	color: #00c900;
	content: "\2714";
}

.djng-form-control-feedback {
	position: absolute;
	text-align: right;
	top: -5px;
	right: 10px;
}
.djng-line-spreader {
	height: 20px;
	margin-bottom: 10px;
}

/* ======= TOASTR ========== */

#toast-container > div {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  	filter: alpha(opacity=100);
}

#toast-container > .alert {
    background-image: none !important;
}

#toast-container > .alert:before {
	position: fixed;
	font-family: FontAwesome;
	font-size: 24px;
	/*line-height: 18px;*/
	float: left;
	color: #FFF;
	padding-right: 0.5em;
	margin: auto 0.5em auto -1.5em;
}

#toast-container > .alert-info:before {
	content: "\f05a";
}
#toast-container > .alert-info:before,
#toast-container > .alert-info {
	color: #31708f;
}

#toast-container > .alert-success:before {
	content: "\f00c";
}
#toast-container > .alert-success:before,
#toast-container > .alert-success {
	color: #3c763d;
}

#toast-container > .alert-warning:before {
	content: "\f06a";
}
#toast-container > .alert-warning:before,
#toast-container > .alert-warning {
	color: #8a6d3b;
}

#toast-container > .alert-danger:before {
	content: "\f071";
}
#toast-container > .alert-danger:before,
#toast-container > .alert-danger {
	color: #a94442;
}



